<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <style >
       body{
        background-color: #c4e0f3;
       }
           .bg{
            padding-top: 170px;
        align-items: center;
        text-align: center;
        font-style: italic;
        font-size: 34px;
        
    color: #f8752a;
    /* background-image:url(44.jpg) ; */
        /* background: url('44.jpg') no-repeat center center/cover; */
    }
    .a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 29px 572px;
    cursor: pointer;
    }
   </style>
</head>
<body>

     <nav class="navbar navbar-expand-md bg-info navbar-dark">
    <a class="navbar-brand" href='/initial'>SPARK BANK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link text-light" href='/home'>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href='/user'>ALL CUSTOMER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href='/history'>ALL TRANSACTION</a>
         </li>
          
      </ul>
    </div>  
  </nav> 

            
<div class="bg">
    <h1>PREETI SASMAL</h1>
    <h2>SPARK FOUNDATION TASK : BANKING SYSTEM</h2>
    <a class="a" href='/home'>WELCOME TO SPARK BANK</a>
</div>


</body>
</html>
 
    
        