<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body{
    background-color: #cbe6f8;
        }
        h1{
    text-align: center;
    color:#e06822;
    padding-bottom: 40px;
        }
        .home{
    padding: 5px 633px;
    /* margin: 34px 36px; */
    align-items: center;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    color: rgba(23,162,184);
    font-weight: bolder;
    
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-info navbar-dark">
        <a class="navbar-brand" href='/initial'>SPARK BANK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link text-light" href='/home'>HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href='/user'>ALL CUSTOMER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href='/history'>ALL TRANSACTION</a>
             </li>
              
          </ul>
        </div>  
      </nav> 
      <div style="padding-top: 180px;color:#e06822">
    <h1>YOUR AMOUNT HAS BEEN TRANSFER SUCCESSFULLY</br>....THANKS FOR CHOOSING US....</h1>
         <a class="home" href='/home'>HOME</a>
      </div>
</body>
</html> 